<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="window.location.href='/restaurant-owner-home?id={{ownerId}}'">Home</button>
    <h1>{{restaurant.name}} MENU</h1>
    <ul>
        {{#each menu}}
            <li>
                <p>Item name: {{this.item}}</p>
                <p>Price: {{this.price}}</p>
                <p>Description: {{this.description}}</p>
                <button>Edit</button>
            </li>
        {{/each}}
    </ul>
</body>
</html>